body {
    background-color: #f7f7f7;
    display: flex;              
    height: 100vh;
    justify-content: center;    
    align-items: center; 
    
}

a{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex; 
    background-color: #e0b509;  
    align-items: center;
    border-radius: 50%;
    color: white;
    height: 90px;
    width: 90px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px #6d0bc4;
}

a:hover{
    background-color:#6d0bc4;
    color: rgba(217, 65, 255, 0.983);   
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
    font-weight: bold;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}
.container{
    text-align: center;
    display: flex;              
    justify-content: center;    
    align-items: center;  
    flex-direction: column;
    padding: 20px; 
}
#button {
    color: #e0b509;     
    border-radius: 50%; 
    height: 300px;         
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    border: 30px solid #6d0bc4;
    box-shadow: 10px 10px;
    cursor: pointer;
    line-height: normal;
    padding: 10px;
}

#button:hover{
    background-color:#6d0bc4;
    color: rgba(217, 65, 255, 0.983);  
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

#another-name {
    margin-top: 40px;
    color: #e0b509;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    border: 20px solid#6d0bc4;
    box-shadow: 10px 10px;
    cursor: pointer;
    line-height: normal;
    padding: 10px;
    display: none;
}

#another-name:hover{
    background-color: #6d0bc4;
    transition: all .2s ease-in-out;
    transform: translateY(-5px);
}

#intro{
    color: rgba(217, 65, 255, 0.983);   
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 10px;
}
#random-name{
    color: #e0b509;  
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase; 
    letter-spacing: 3px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 430px){
    #intro{
        font-size: 2rem;
    }
    #random-name{
        font-size: 2rem;
        margin: 0;
    }
    #another-name{
        margin-top: 30px;
    }
}

@media(min-width:431px) and (max-width:799px){
    #intro{
        font-size: 2.3rem;
    }
    #random-name{
        font-size: 2.3rem;
        margin: 0;
    }
    #another-name{
        margin-top: 30px;
    }
}

@media(min-width:800px){
    #intro{
        font-size: 3.5rem;
    }

    #random-name{
        font-size: 3.5rem;
        margin: 0;
    }

    #another-name{
        font-size: 2rem;
       margin-top: 50px;
    }

    #button{
        height: 400px;
        width: 400px;
        font-size: xx-large;
    }
    a{
        height: 110px;
        width: 110px;
    }
}